nav {
  padding: 2rem 2rem 0 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1); 
  display: flex;

  max-height: 100vh; /* add*/
}

nav ul {
  margin-top: 2rem;
}

nav ul li {
  margin-bottom: 0.6rem;
  list-style: none;
}

.navLinkTop {
  text-decoration: none;
}

.navLinkTop img {
  width: 10rem; 
}

.navLink {
  font-weight: 500;
  font-size: 0.9rem;
  color: #474C5C;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  transition: 0.4s ease-out;
}

.navLink:hover {
  background-color: #C4E7D2;
  color: #FFF;
  border-radius: 5px;
  transition: 0.4s ease-in;
}

.btn-menuLateral {
  position: absolute;
  bottom: 3rem;
}

.btn-menuLateral button {
  padding: 0.4rem 0.4rem;
  background-color: #474C5C;
  color: #FFFF;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-menuLateral button:hover {
  background-color: #C4E7D2;
}

/* mobile */
@media (max-width: 600px) {
  nav {
    justify-content: center;
    align-items: center;
    max-height: none;
    height: 4rem;
    width: 100vw;
    padding: 1.4rem 1rem;
  }

  nav div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul {
    display: none;
  }

  .navLinkTop {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navLinkTop img {
    width: 8rem; 
  }

  .btn-menuLateral {
    display: none;
  }
}